@import "~bootstrap/scss/bootstrap";

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    min-height: 100vh;
    color: #0f3057;
    background: #F5F5F5;
}

input {
    border-style: solid;
    border-color: $info;
}

.home {
    display: flex;
    background-color: #DCDCDC;
    width: 50vh;
    height: 30vh;
    flex-direction: column;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
